*{
	margin:0;
	padding:0;
}
body{
	margin-top:40px;
}

.top{
	z-index:1000;
	width:100%;
	height:35px;
	background: #F01979;
	position:fixed;
	left:0;
	top:0;

}

.top .left,.top .right{
	width:50%

}
.top .left{
	float:left;
}
.top .left h1{
    height:35px;
    line-height:35px;
    font-size:14px;
    color:#fff;
    text-indent:5px;

}
.top .right
{

	float:right;

}

.top .right ul{
	width:50px;
	height:35px;
	
	float:right;
}
.top .right li{
	width:30px;
	margin:6px auto;
	height:5px;
	border-radius:4px;
	background:#fff;
	list-style:none;


}

.content{
	width:100%;
	height:auto;
	

}

.content .item{
	width:50%;
	float:left;
	
	height:auto;

}
 
.content .img{
	
	width:100%;
	height:auto;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	overflow:hidden;

} 
.content .box{
	
	width:95%;
	height:auto;
	margin:5px auto;
	box-shadow:  0 0 5px rgba(0,0,0,0.5);

	
}

.content .box img{
	padding: 10px auto;
	display:block;
	width:95%;
	margin:10px auto;
	height:auto;

}

.text{
	width:100%;
	height:100px;

}
.text-header{
	height:60px;

}
.text-bottom{
	height:40px;
}

.menu{
	width:100%;
	height:0;
	background: #F01979;
    overflow:hidden;
    transition:all 0.5s;
}
.menu li{
	list-style:none;
	height:30px;
	line-height:30px;
	text-indent:20px;
	border-bottom:1px solid #eee;
}
.menu li a{
	color:#fff;
	text-decoration:none;
	font-size:12px;
}

